<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Turners</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/main.css" />

</head>

<body>
    <!-- Code from getbootstrap.com for navbar component -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href=<%='/' %>><b>PAGE TURNERS</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">For Librarian Use:</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/book/new">Add new book</a></li>
                            <li><a class="dropdown-item" href="/magazine/new">Add new magazine</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="homepage" id="flex-container">
        <h1>PAGE TURNERS</h1>
        <p>Welcome to Page Turners.. we are a small library, run by volunteers, in the town of Mountain House, CA. In
            this site, you can browse our currently available titles of books and magazines. Soon we hope to add a
            Checkout function so you can virtually pick the book out and pick it up in 2 hours !!</p>


        <!-- Code from getbootstrap.com for cards -->

        <h3>Latest Books</h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mx-auto">
            <% for(let book of books) {%>
                <div class="col">

                    <div class="card h-100 mn_pg">
                        <a href="/book/<%=book._id %>">
                            <img src=<%=book.image %> class="card-img-top" width="100"/>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Title: <%= book.title %>
                            </h5>
                            <p class="card-text">Author: <%= book.author %>
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 5 mins ago</small>
                        </div>
                    </div>

                </div>
                <% } %>
        </div>

        <br><br>
        <h3>Latest Magazines</h3>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mx-auto">
            <% for(let magazine of magazines) {%>
                <div class="col">

                    <div class="card h-100 mn_pg">
                        <a href="/magazine/<%=magazine._id %>">
                            <img src=<%=magazine.image %> width="200"/>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Title: <%= magazine.title %>
                            </h5>
                            <p class="card-text">Frequency of Publication: <%= magazine.classification %>
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 5 mins ago</small>
                        </div>
                    </div>

                </div>
                <% } %>
        </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>