<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="/styles/main.css" />
</head>

<body>
    <div class="top_librarian">
        <h3>For Librarian Use</a></h3>
        <ul>
            <li><button class="edit"><a href="/book/<%=book._id%>/edit">EDIT BOOK</a></button></li>
            <form action="/book/<%=book._id%>/?_method=DELETE" method="POST">
                <li><button class="delete">DELETE</button></li>
            
            </form>

        </ul>
    </div>

    <div class="flex-container">
        <div id="location">
            <img src=<%=book.image %> width="250"/>
            <h2>
                <%=book.title%>
            </h2>
            <p>
                Author: <%= book.author %>
            </p>
            <p>
                Classification: <%= book.classification.toUpperCase() %>
            </p>
            <p>
                Copies: <%= book.copies %>
            </p>
        </div>
    </div>

    <h2><a href=<%='/' %>>Go back to home page</a></h2>
</body>

</html>