<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
</head>

<body>
    <!-- Example Code from getbootstrap.com for navbar component -->
    <nav class="navbar navbar-expand-lg navcolor">
        <div class="container-fluid">
            <a class="navbar-brand" href=<%='/' %>><b>PAGE TURNERS</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">For Librarian Use:</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/magazine/<%=magazine._id%>/edit">Edit Magazine</a></li>
                            <form action="/magazine/<%=magazine._id%>/?_method=DELETE" method="POST">
                                <li><button class="dropdown-item">Delete Magazine</button>
                            </form>
                    </li>
                </ul>
                </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Code from getbootstrap.com for card display -->
    <div class="card show-book-container" style="width: 40rem;">
        <img src=<%=magazine.image %> style="width:15rem;" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                Title: <%=magazine.title%>
            </h5>
            <p class="card-text">
                <%=magazine.general_note %>
            </p>
        </div>
        <ul class="list-group list-group-flush bgclr">
            <li class="list-group-item bgclr">Author: <%= magazine.author %>
            </li>
            <li class="list-group-item bgclr">Classification: <%= magazine.classification.toUpperCase() %>
            </li>
            <% if(magazine.copies==0) {%>
                <li class="list-group-item bgclr">Copies: Not Available for Checkout at this time, Please check back
                    later <br> <br>
                    <%}else{%>
                <li class="list-group-item bgclr">Copies: <%= magazine.copies %>
                </li>
        </ul>
        <div class="card-body">
            <!-- Button trigger modal - code example from getbootstrap.com-->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Checkout Magazine</button>
            <%}%>
                <button type="submit" class="btn btn-secondary"><a href=<%='/' %>>Back to Home Page</a></button>

        </div>
    </div>


    <!-- Modal example from getbootstrap.com-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/magazine/<%=magazine._id%>?_method=PUT" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm Checkout</h5>
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                    </div>
                    <div class="modal-body">
                        You are checking out <%=magazine.title %> which now has <input type="number" name="copies"
                                value="<%=magazine.copies - 1%>"> copies
                    </div>
                    <div class="modal-footer">
                        <form action="/magazine/<%=magazine._id%>?_method=PUT" method="POST">
                            <button type="submit" class="btn btn-primary">Checkout Magazine</button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>